{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{#<h1>{% trans "Sign Up" %}</h1>#}

{#<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>#}

{#<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">#}
{#<h1>{% trans "Sign Up" %}</h1>#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  {% if redirect_field_value %}#}
{#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{##}
{#  {% endif %}#}
{##}
{#  <button type="submit">{% trans "Sign Up" %} &raquo;</button>#}
{#</form>#}

{#    <div class="container" id="container">#}
{#	<div class="form-container sign-up-container">#}
{#		<form action="#">#}
{#			<h1>Create Account</h1>#}
{#			<div class="social-container">#}
{#				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>#}
{#				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>#}
{#				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>#}
{#			</div>#}
{#			<span>or use your email for registration</span>#}
{#			<input type="text" placeholder="Name" />#}
{#			<input type="email" placeholder="Email" />#}
{#			<input type="password" placeholder="Password" />#}
{#			<button>Sign Up</button>#}
{#		</form>#}
{##}
{#	</div>#}
    <br>
    <br>

    <div class="container">
        <div class="form-container sign-in-container">
            <form method="POST" action="{% url 'account_signup' %}">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <span>or use your account</span>

                  {% csrf_token %}
                  {{ form.as_p }}

                  {% if redirect_field_value %}
                       <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}

                  <button type="submit">{% trans "Sign Up" %} &raquo;</button>

            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">

                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>


                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <a  href="/"><button class="ghost" id="signUp">Back to Home</button></a> <br>
                    <a href="{{ login_url }}" ><button class="ghost" id="signIn">Sign In</button></a>

                </div>
            </div>
        </div>

    </div>





{% endblock %}