
.social-icons-list{
	width: auto;
	height: auto;
	margin:auto;
	margin-top: 1px;
}
.social-icons-list ul{
	margin:0px;
	padding: 0px;
	text-align:left;
}
.social-icons-list ul li{
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	margin:0px 1px;
}
.social-icons-list ul li a{
	display: block;
	color: #fff;
	font-size: 18px;
}
.social-icons-list ul li a i{
	line-height: 40px;
}
/*
.social-icons-list ul li:nth-child(1){
	background:#3b5999;
}
.social-icons-list ul li:nth-child(2){
	background:#55acee;
}
.social-icons-list ul li:nth-child(3){
	background:#e4405f;
}
.social-icons-list ul li:nth-child(4){
	background:#cd201f;
}
.social-icons-list ul li:nth-child(5){
	background:#389f5c;
}

.social-icons-list ul li:hover{
  border-radius: 0px;
  transition: 0.5s;
}
.social-icons-list ul li:nth-child(1):hover{
	background:#3b5999;
}
.social-icons-list ul li:nth-child(2):hover{
	background:#55acee;
}
.social-icons-list ul li:nth-child(3):hover{
	background:#e4405f;
}
.social-icons-list ul li:nth-child(4):hover{
	background:#cd201f;
}
.social-icons-list ul li:nth-child(5):hover{
	background:#1aae3f;
}
*/